<h1> You drew with the computer </h1>
Your hand: <%=@player_choice  %>
<br>
Computer's Hand: <%=@computer_action %>

<h2> Play Again? </h2>
<form action= "/game" method="get">
  <input type="submit" value='Of Course'>
</form>
