<h1> Rock-Paper-Scissors</h1>

</section> </h2>
<form action="/game" method="post">
  <label>
    <h2> Pick your option: </h2>
    <input type="text" placeholder="rock, paper, or scissors" name="player_choice" >
  </label>
<input type="submit" value="Submit">
</form>
