<h1> Welcome to Rock Paper Scissors </h1>
<h2> Enter Name to begin game: </h2>
<form action="/names" method="post">
  <label>
    Player 1 Name
  <input type="text" name="player_1_name">
</label>
  <input type="submit" value="Submit">
</form>
