<h1> You lost to the computer </h1>
Your hand: <%=@player_hand  %>
<br>
Computer's Hand: <%=@computer_hand %>

<h2> Play Again? </h2>
<form action= "/game" method="get">
  <input type="submit" value='Of Course'>
</form>
